.maincontainer{
display:flex;
margin:0px;
padding:0px;
justify-content:center;
}


.unorderlist{
list-style-type:none;
}

.heading{
    color:#fb56c1;
    font-size:14px;
    padding-bottom:15px;
    padding-top:15px;
    font-weight:bold;
}

li{
    font-size: 14px;
    padding-bottom: 10px;
    color:#282c3f;
}

.line{
 background-color: red;
 height: 1px;
}

.first{
    background-color:white;
}

.second{
    background-color:#ffffff;
}

.third{
    background-color:white;
}

.fourth{
    background-color:#ffffff; 
}
