.navbarName {
  display: flex;
}

.listAll {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 160px;
  width:100%;
  
}

.mainContainer {
  display: flex;
}

.logoImg {
  height: 85px;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  
}

.whislist {
  display: "flex";
  padding-top: 17px;
  margin-left: 40px;
  justify-content: center;
  text-align: center;
}

.para {
  padding: 0px;
  margin: 0px;
}
.profile{
    display: "flex";
    padding-top: 17px;
    margin-left: 40px;
    justify-content: center;
    text-align: center;
}

.shopping {
  padding-top: 17px;
  margin-left: 40px;
}

.mainContainer{
    padding: 10px;
}


.new{
  position: relative;
  bottom: 10px;  
  color:#ff3f6c;
  font-weight:600;
  font-size:10px;
  font-style:normal;
  font-stretch: normal;
  text-align:left;
  padding-bottom: 100px;
}