.main-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img1 {
    width: 20%;
    padding: 5px; 
    box-sizing: border-box; 
}

.img1 img {
    width: 100%; 
    height: auto; 
}